Django==2.0.6
django-webpack-loader==0.6.0
djangorestframework==3.8.2
drf-nested-routers==0.90.2
Fabric3>=1.12,<1.13
gunicorn==19.8.1
psycopg2-binary==2.7.4
raven==6.9.0
requests==2.18.4
social-auth-app-django==2.1.0
